body {
    font-family: 'Arial', sans-serif;
    background-color: #ebedf4;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.62);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(80, 169, 7, 0.1);
}


.left-section {
    background-color: #d5efce;
    color: black;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #acfc2b;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #acfc2b;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #6de708;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(66, 20, 250);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #e80e1c;
}