body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
}

form {
    margin: auto;
    background-color: rgb(248, 247, 248);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(249, 105, 223, 0.933);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(247, 94, 137);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(245, 233, 242, 0.95);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(249, 84, 84);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(216, 174, 174);
    color: rgb(14, 13, 13);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    color: rgb(245, 5, 5);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgba(249, 105, 223, 0.933);
    border-radius: 8px;
    background-color: rgba(245, 233, 242, 0.95);
    box-shadow: 0 4px 8px rgb(14, 13, 13);
    /*Making the resume editable*/
    outline: none;
}

#resume-display h2 {
    color: black;
}
